@page
@model PRN_Final_Project.Pages.EvaluationPage.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Evaluation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Evaluation.evaID" />
            <div class="form-group">
                <label asp-for="Evaluation.point" class="control-label"></label>
                <input asp-for="Evaluation.point" class="form-control" />
                <span asp-validation-for="Evaluation.point" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluation.status" class="control-label"></label>
                <input asp-for="Evaluation.status" class="form-control" />
                <span asp-validation-for="Evaluation.status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluation.accountID" class="control-label"></label>
                <select asp-for="Evaluation.accountID" class="form-control" asp-items="ViewBag.accountID"></select>
                <span asp-validation-for="Evaluation.accountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
