@page "{id}"
@model PRN_Final_Project.Pages.CustomerManage.EditModel
@inject Services.Interface.ICustomerService CustomerService
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";    
}
<h1>Edit</h1>
<h1>@Model.acc</h1>
<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Customer.cusId" />
            <div class="form-group">
                <label asp-for="Customer.fullName" class="control-label"></label>
                <input asp-for="Customer.fullName" class="form-control" />
                <span asp-validation-for="Customer.fullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.phone" class="control-label"></label>
                <input asp-for="Customer.phone" class="form-control" />
                <span asp-validation-for="Customer.phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.address" class="control-label"></label>
                <input asp-for="Customer.address" class="form-control" />
                <span asp-validation-for="Customer.address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.dob" class="control-label"></label>
                <input asp-for="Customer.dob" class="form-control" />
                <span asp-validation-for="Customer.dob" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Customer.gender" /> @Html.DisplayNameFor(model => model.Customer.gender)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Customer.imageUrl" class="control-label"></label>
                <input asp-for="Customer.imageUrl" class="form-control" />
                <span asp-validation-for="Customer.imageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}