@page
@model PRN_Final_Project.Pages.BookingPage.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var notification = TempData["Notification"] as string;
    var minDate = DateTime.Today.AddDays(1).ToString("yyyy-MM-dd");
}
@if (!string.IsNullOrEmpty(notification))
{
    <div class="alert alert-warning">
        @notification
    </div>
}
<h4 class="d-flex justify-content-center"> Booking</h4>
<hr />
<div class="row">
    <div class="d-flex justify-content-center">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookingModel.appointmentDay" class="control-label"> Appointment day</label>
                <input asp-for="BookingModel.appointmentDay" type="date" class="form-control"
                       min="@minDate" />
                <span asp-validation-for="BookingModel.appointmentDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingModel.slotID" class="control-label">Slot</label>
                <select asp-for="BookingModel.slotID" class ="form-control" asp-items="ViewBag.slotID"></select>
            </div>
            <div class="form-group">
                <label asp-for="BookingModel.theraID" class="control-label">Therapist</label>
                <select asp-for="BookingModel.theraID" class ="form-control" asp-items="ViewBag.theraID"></select>
            </div>          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-page="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
